<component name="ArtifactManager">
  <artifact type="war" name="springmvc-basic-code:war">
    <output-path>$PROJECT_DIR$/springmvc-basic-code/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-basic-code</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-basic-code.war">
      <element id="artifact" artifact-name="springmvc-basic-code:war exploded" />
    </root>
  </artifact>
</component>